@page "/product/NewOrEdit"
@page "/product/NewOrEdit/{id?}"
@using Microsoft.Extensions.Primitives;
@using Test.Client.Interfaces;
@using Test.Shared.Entities;
@using Test.Shared.Entities.DataBase;
@inject IProductServices productServices
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Hosting;

<div class="container">
    @if (Id is null)
    {
        <MudText Typo="Typo.h3" class="p-3 text-center">New Product</MudText>
    }
    else
    {
        <MudText Typo="Typo.h3" class="p-3 text-center">Edit Product</MudText>       
    }
    <div class="container-fluid ">
        <MudCard class="p-4">
            
            <MudCardContent>
                <EditForm Model="@product" OnValidSubmit="OnSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <MudTextField @bind-Value="product.Name" For="@(() => product.Name)" Label="Name" Variant="Variant.Outlined" Class="m-3"></MudTextField>
                    </div>
                    <div class="form-group">
                        <MudTextField @bind-Value="product.Model" For="@(() => product.Model)" Label="Model" Variant="Variant.Outlined" Class="m-3"></MudTextField>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" For="@(() => product.Description)" Label="Description" Variant="Variant.Outlined" Text="@product.Model" Class="m-3" Lines="3" />
                    </div>
                    <div class="form-group">
                        <MudNumericField @bind-Value="@product.Price" For="@(() => product.Price)" Label="Price" Variant="Variant.Outlined" Class="m-3" />
                    </div>
                    <div class="form-group">
                        <MudText>Select a file:</MudText>
                        <MudFileUpload T="IBrowserFile" FilesChanged="LoadFile" Class="m-3" Label="Photo">
                            <ButtonTemplate Context="cotx">
                                <MudButton HtmlTag="label"
                                           Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           for="@cotx">
                                    Select a File
                                </MudButton>
                            </ButtonTemplate>
                            <SelectedTemplate Context="selCtx">
                                @if (selCtx != null)
                                {
                                    <MudText>@selCtx.Name</MudText>
                                }
                                else
                                {
                                    <hr />
                                }
                            </SelectedTemplate>
                        </MudFileUpload>
                        @if (!string.IsNullOrWhiteSpace(product?.Photo))
                        {
                            <MudPaper Class="d-flex justify-center py-2 px-1">
                                <MudPaper Class="pa-2 mx-2">
                                    <img width="150" height="150" src="@(product.Photo)">
                                </MudPaper>
                            </MudPaper>
                        }
                        <ValidationMessage For="@(() => product.Photo)" />
                    </div>


                    <br />
                    <div class="d-flex justify-content-between">
                        <MudLink Href="product" class="btn btn-link" Color="Color.Secondary">Cancel</MudLink>
                        @if (!IsNew)
                        {
                            <MudButton Variant="Variant.Filled" ButtonType=ButtonType.Submit EndIcon="@Icons.Material.Filled.Edit" Style="background-color: yellowgreen; color: white; width: 200px; height: 60px;">
                                Edit
                            </MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" ButtonType=ButtonType.Submit EndIcon="@Icons.Material.Filled.Add" Style="background-color: yellowgreen; color: white; width: 200px; height: 60px;">
                                Add
                            </MudButton>
                        }                        
                    </div>                   
                </EditForm>
            </MudCardContent>
        </MudCard>
    </div>
</div>
